{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block javascripts %}{% endblock %}
		
		<h1>LISTE DES ÉLÈVES <a type="button" class="btn btn-success" href={{ path('app_eleve_ajouter') }}>Ajouter</a></h1><br><br>
		<table width="90%" border="2" cellspacing="1" cellpadding="10">
        <tr>
	        <th>Nom </th>
	        <th>Prenom </th>
	        <th>Numéro de rue </th>
	        <th>Rue </th>
	        <th>Code Postal </th>
	        <th>Ville </th>
	        <th>Téléphone </th>
            <th>Mail </th>
            <th>Action </th>
        </tr>
		{% for i in pEleves %}
        <tr>
            <td><a href="{{ path('app_eleve_consulter', { 'id': i.id }) }}">{{ i.nom }}</a></td>
            <td>{{ i.nom }}</td>
            <td>{{ i.prenom }}</td>
            <td>{{ i.numRue }}</td>
            <td>{{ i.rue }}</td>
            <td>{{ i.copos }}</td>            
            <td>{{ i.ville }}</td>
            <td>{{ i.tel }}</td>
            <td>{{ i.mail }}</td>
			<td>
				<a class="btn btn-primary" type="button" href={{ path('app_eleve_modifier', {'id': i.id}) }}>Modifier</a>	
                <a class="btn btn-danger" type="button" href={{ path('app_eleve_supprimer', { 'id': i.id }) }} onclick="return  confirm('Êtes vous sur de vouloir supprimer cet élève ?')">Supprimer</a>

            </td>
            
        </tr>
	{% else %}
		<tr>
		<td>Aucun eleve n'a été trouvé.</td>
		</tr>
	{% endfor %}
        </table>
    </body>
{% endblock %}