{% extends 'base.html.twig' %}

{% block title %}Gestionnaire{% endblock %}

{% block body %}
    <h1>Gestionnaire</h1>
    </br>
    <ul class="list-group" style="width: 15%">
        <li class="list-group-item">
            <a style="width: 100%" class="btn btn-primary" href={{ path('app_cours_lister') }}>Gérer les Cours</a>
        </li>
        <li class="list-group-item">
            <a style="width: 100%" class="btn btn-primary" href={{ path('app_contrat_lister') }}>Gérer les Contrats</a>
        </li>
        <li class="list-group-item">
            <a style="width: 100%" class="btn btn-primary" href={{ path('app_inscription_lister') }}>Gérer les Inscriptions</a>
        </li>
        <li class="list-group-item">
            <a style="width: 100%" class="btn btn-primary" href={{ path('app_intervention_lister') }}>Gérer les Interventions</a>
        </li>
        <li class="list-group-item">
            <a style="width: 100%" class="btn btn-primary" href={{ path('app_eleve_lister') }}>Gérer les Élèves</a>
        </li>
    </ul>
{% endblock %}