{% extends 'base.html.twig' %}
{% block body %}
    <head>
        
    </head>
    <body>       
		<h2>PAGE DE CONSULTATION D'UN INSTRUMENT</h2>
        
  <table> 
  	    <tr><td><h4><b>{{ instrument.typeInstrument.libelle}}</b></h4></td></tr>
	    <tr><td><b>Date d'achat :</b> {{ instrument.dateAchat|date("d/m/Y") }}</td></tr>
	    <tr><td><b>Prix d'achat :</b> {{ instrument.prixAchat }}</td></tr>
        <tr><td><b>Marque :</b> {{ instrument.marque.libelle }}<b> Modele : </b></td> <td>{{ instrument.modele.nom }}</td>
        <td  rowspan="8" class="imgIns">
					        {% set photo = 'image/instrument/'~ instrument.id ~'.jpg' %}
					        <span class="zoom"><img src="{{ asset(photo | trans )}}", width="150px",height:"150px"/></span></td></tr>
        <tr><td><b>Numéro de série : </b></td><td>{{ instrument.numSerie }} </td></tr>
	    <tr><td><b>Couleur dominante : </b></td><td>{{ instrument.couleur }}</td></tr>
        <tr><td><b>Utilisation : </b></td><td>{{ instrument.utilisation }}</td></tr>
 </table>
 
 <h2>LISTE DES INTERVENTIONS</h2>
   <table width="60%" border="2" cellspacing="1" cellpadding="10">

        <thead>
        <tr>
            <th>Intervenant</th>
            <th>Numéro de série</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Adresse intervenant</th>
            <th>Type d'Instrument</th>
            <th>Prix</th>
        </tr>
    </thead>
 {% if instrument.interventions is not empty%}
 {% for intervention in instrument.interventions %}
    <tr>
		<td>{{ intervention.professionnel.nom }}</td>
        <td>{{ intervention.instrument.numserie }}</td>
		<td>{{ intervention.dateDebut|date("m/d/Y") }}</td> 
        <td>{{ intervention.dateFin|date("m/d/Y") }}</td>
		<td>{{ intervention.professionnel.rue }} {{ intervention.professionnel.nomrue }} {{ intervention.professionnel.copos }}</td>
        <td>{{ intervention.descriptif }}</td>
        <td>{{ intervention.prix }}</td>

	{% else %}
		<tr>
		<td>Aucun modèle n'a été trouvé.</td>
		</tr>
 {% endfor %}
  {% endif %}
    </table>
    </br>
    <a class="btn btn-primary" type="button" href={{ path('app_typeinstrument_lister') }}>Retour</a>
{% endblock %}
