{% extends 'base.html.twig' %}
{% block body %}
    <head>
        
    </head>
    <body>       
		<h3>PAGE DE CONSULTATION D'UN INSTRUMENT</h3>
        
  <table> 
  	    <tr><td><b>{{ instrument.typeInstrument.libelle}}</b></td></tr>
	    <tr><td>Date d'achat : </td><td>{{ instrument.dateAchat|date("d/m/Y") }}</td></tr>
	    <tr><td>Prix d'achat : </td><td>{{ instrument.prixAchat }}</td></tr>
        <tr><td>Marque : </td><td>{{ instrument.marque.libelle }} Modele : </td><td>{{ instrument.modele.nom }}</td>
        <td  rowspan="8" class="imgIns">
					        {% set photo = 'image/instrument/'~ instrument.id ~'.jpg' %}
					        <span class="zoom"><img src="{{ asset(photo | trans )}}"/></span></td></tr>
        <tr><td>Numéro de série : </td><td>{{ instrument.numSerie }} </td></tr>
	    <tr><td>Couleur dominante : </td><td>{{ instrument.couleur }}</td></tr>
        <tr><td>Utilisation : </td><td>{{ instrument.utilisation }}</td></tr>
 </table>
 
 <h3>LISTE DES INTERVENTIONS</h3>
   <table width="60%" border="2" cellspacing="1" cellpadding="10">

        <thead>
        <tr>
            <th>Intervenant</th>
            <th>Numéro de série</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Adresse intervenant</th>
            <th>Type d'Instrument</th>
            <th>Prix</th>
        </tr>
    </thead>
 {% if instrument.interventions is not empty%}
 {% for intervention in instrument.interventions %}
    <tr>
		<td>{{ intervention.professionnel.nom }}</td>
        <td>{{ intervention.instrument.numserie }}</td>
		<td>{{ intervention.dateDebut|date("m/d/Y") }}</td> 
        <td>{{ intervention.dateFin|date("m/d/Y") }}</td>
		<td>{{ intervention.professionnel.rue }} {{ intervention.professionnel.nomrue }} {{ intervention.professionnel.copos }}</td>
        <td>{{ intervention.descriptif }}</td>
        <td>{{ intervention.prix }}</td>

	{% else %}
		<tr>
		<td>Aucun modèle n'a été trouvé.</td>
		</tr>
 {% endfor %}
  {% endif %}
    </table>


<br>
{% endblock %}
