{% extends 'base.html.twig' %}
{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block javascripts %}{% endblock %}
		
		LISTE DES INSTRUMENTS</br>
		<table>
		{% for i in iInstrument %}
		<tr>
			<td>{{ i.numSerie }}</td>
            <td>{{ i.dateAchat|date("d/m/Y") }}</td>
            <td>{{ i.prixAcaht }}</td>
            <td>{{ i.utilisation }}</td>
            <td>{{ i.couleur }}</td>
            <td>{{ i.marque.libelle }}</td>
            <td>{{ i.modele.nom }}</td>
            <td>{{ i.accessoire.libelle }}</td>
            <td>{{ i.typeInstrument.libelle }}</td>

	{% else %}
		<tr>
		<td>Aucun modèle n'a été trouvé.</td>
		</tr>
	{% endfor %}
    </table>
{% endblock %}