{% extends 'base.html.twig' %}
{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block javascripts %}{% endblock %}
		
		<h1>LISTE DES PAIEMENTS AUX COURS <a type="button" class="btn btn-success" href={{ path('app_inscription_ajouter') }}>Ajouter</a></h1></br></br>
		<table width="50%" border="2" cellspacing="1" cellpadding="10">
		
		<thead>
        <tr>
            <th>Nom du cours</th>
            <th>Nom de l'Eleve</th>
            <th>Montant du Paiement</th>
            <th>Date du Paiement</th>
            <th>Action</th>

        </tr>
    </thead>
		
		{% for p in pPaiement %}

		<tr>
			<td><a href="{{ path('app_cours_consulter', { 'id': p.inscription.cours.id }) }}">{{ p.inscription.cours.libelle }}</a></td>
			<td>{{ p.inscription.eleve.prenom }} {{ p.inscription.eleve.nom }}</td>
            <td>{{ p.montant }}</td>
			<td>{{ p.datePaiement|date('m/d/Y') }}</td>
            
            <td>
				<a class="btn btn-primary" type="button" href={{ path('app_paiement_modifier', {'id': p.id}) }}>Modifier</a>
				<a class="btn btn-danger" type="button" href={{ path('app_paiement_supprimer', { 'id': p.id }) }} onclick="return  confirm('Êtes vous sur de vouloir supprimer ce paiement ?')">Supprimer</a>
			</td>
		</tr>
	{% else %}
		<tr>
		<td>Aucun Paiement n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}