<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur eMusic !{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body {
		        padding-top: 50px;
            }
            .special {
		        padding-top:50px;
            }
            .gray {
                color: gray;
            }
            .gray:hover {
                color: gray;
            }
            a.disabled {
                pointer-events: none;
                cursor: default;
                color: gray;
            }
            .dropdown:hover .dropdown-menu {
                display: block;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            {% if app.user %}
                <a class="navbar-brand" href={{ path('app_main_index') }}>
                    Bienvenue {{ app.user.username }} !
                </a>
            {% else %}
                <a class="navbar-brand" href={{ path('app_account_login') }}>
                    Se connecter
                </a>
            {% endif %}
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href={{ path('app_main_index') }}>Accueil</a>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href={{ path('app_main_index') }} class="navbar-brand dropdown-toggle" data-toggle="dropdown">Gestionnaire<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href={{ path('app_cours_lister') }}>Gérer les Cours</a></li>
                                <li><a href={{ path('app_contrat_lister') }}>Gérer les Contrats</a></li>
                                <li><a class="disabled" href={{ path('app_main_index') }}>Gérer les Inscriptions</a></li>
                                <li><a href={{ path('app_intervention_lister') }}>Gérer les Interventions</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href={{ path('app_main_index') }} class="navbar-brand dropdown-toggle" data-toggle="dropdown">Administrateur<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href={{ path('app_utilisateur_lister') }}>Gérer les Utilisateurs</a></li>
                                <li><a href={{ path('app_typeinstrument_lister') }}>Gérer les Types d'instrument</a></li>
                                <li><a href={{ path('app_jour_lister') }}>Gérer les Jours</a></li>
                                <li><a href={{ path('app_accessoire_lister') }}>Gérer les Accessoires</a></li>
                                <li><a href={{ path('app_marque_lister') }}>Gérer les Marques</a></li>
                                <li><a href={{ path('app_modele_lister') }}>Gérer les Modèles</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href={{ path('app_main_index') }} class="navbar-brand dropdown-toggle" data-toggle="dropdown">Resp. Élève<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="disabled" href={{ path('app_main_index') }}>Emploi du temps</a></li>
                                <li><a class="disabled" href={{ path('app_main_index') }}>Mes factures</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="margin: 2% 2% 2% 2%">{% block body %}{% endblock %}</div>
    </body>
</html>
