{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block javascripts %}{% endblock %}
		
		LISTE DES CONTRATS <a type="button" class="btn btn-success" href={{ path('app_contrat_ajouter') }}>Ajouter</a></br><br>
		<table width="90%" border="2" cellspacing="1" cellpadding="10">
        <tr>
	        <th>Identifiant</th>
	        <th>Nom de l'instrument</th>
	        <th>Identifiant de l'instrument</th>
	        <th>Prenom de l'élève</th>
	        <th>Nom de l'élève</th>
	        <th>Date de début</th>
	        <th>Date de fin</th>
	        <th>État avant le prêt</th>
	        <th>État après le prêt</th>
            <th>Action</th>
        </tr>
		{% for i in pContrats %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.instrument.TypeInstrument.libelle }}</td>
            <td>{{ i.instrument.id }}</td>
            <td>{{ i.eleve.prenom }}</td>
            <td>{{ i.eleve.nom }}</td>
            <td>{{ i.dateDebut|date("m/d/Y") }}</td>
            <td>{{ i.dateFin|date("m/d/Y") }}</td>            
            <td>{{ i.etatDetailleDebut }}</td>
            <td>{{ i.etatDetailleFin }}</td>
			<td>
				<a class="btn btn-primary" type="button" href={{ path('app_contrat_modifier', {'id': i.id}) }}>Modifier</a>
				<a class="btn btn-danger" type="button" href={{ path('app_contrat_supprimer', { 'id': i.id }) }} onclick="return  confirm('Êtes vous sur de vouloir supprimer ce contrat ?')">Supprimer</a>
			</td>
            
        </tr>
	{% else %}
		<tr>
		<td>Aucun contrat n'a été trouvé.</td>
		</tr>
	{% endfor %}
        </table>
    </body>
{% endblock %}